<div class="form">
    <p class="titleHead">Tell Us About Your Case</p>
    <form action="https://formspree.io/f/xdkeveae" method="POST">
        <input class="input-1" type="text" aria-label="Full Name" name="Full Name" placeholder="Full Name" required>
        <input type="tel" class="input-1" aria-label="Phone Number" name="Phone Number" placeholder="Phone Number" required>
        <input class="input-1" type="email" placeholder="Email Address" aria-label="Email Address" name="Email" required>
        <input class="input-1" type="text" aria-label="State & Zip Code" name="State & Zip Code" placeholder="State & Zip Code" required>
        <input type="text" aria-label="How Would You Like To Be Contacted?" name="How Would You Like To Be Contacted?" placeholder="How Would You Like To Be Contacted?" required>        
        <textarea name="Tell Us About Your Case" placeholder="Tell Us About Your Case" aria-label="Tell Us About Your Case" required></textarea>
        <button class="button" type="submit" aria-label="submit" value="button"><span>Submit Form</span></button>
    </form>
</div>
